/* Nav Bar CSS */


/* Header CSS */
#header{
    background-color: orange;
    width: 100%;
    height: 200px;
}
#portrait{
    width: 120px;
    height: 160px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */
.col-md-4{
    border-bottom:1pt solid black;
    background-color:black;
    border:solid;
}
.project_name{
    color:white;
}

/* Footer CSS */



/* Button CSS */


